.overlay-layer {
    transform: scale(0);
    @include fixedLayer;
    background-color: $overlay-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: $translation-short;
    z-index: 9;
    .button {
        @include buttonStyle;
    }
}
.overlay-layer.open {
    transform: scale(1);
}
