.pre-loader {
    @include fixedLayer;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: $translation-short;
    img {
        width: 201px;
        border-radius: 10px;
    }
    .loading {
        margin-top: 0.5em;
        font-size: 2em;
        color: lightgreen;
        animation: loadingAnimate 1s infinite linear alternate;
    }
    @keyframes loadingAnimate {
        from {
            transform: scale(0.7);
        }
        to {
            transform: scale(1);
        }
    }
}
.pre-loader.loaded {
    transform: scale(0);
}
