$font-color: #21e6c1;
$button-color-hover: #1aa98e;
$main-bg: #2c2c2a;
$text-white: #fff;
$input-bg: #3f3b3b;
$text-gold: #ffd615;
$overlay-color: #000000cf;
$game-over-layer-bg: #020202ed;
$menu-btn-color: #f1ebe0;
$text-green: #0bc70b;
$letter-spacing: 3px;
$word-spacing: 2px;
$translation-short: all 0.3s;
